// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.
// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html

&arduino_i2c {
    compatible = "nordic,nrf-twim";
    clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c1 {
    compatible = "nordic,nrf-twim";
    clock-frequency = <I2C_BITRATE_FAST>;
    status = "okay";
};

&pwm0 {
    status = "disabled";
};

&spi1 {
    status = "disabled";
};

&qspi {
    status = "disabled";
};

&arduino_spi {
    status = "disabled";
};

/ {
    imus_irq {
        compatible = "gpio-keys";
        imu_0: imu_0 {
            gpios = <&gpio1 10 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
            label = "IMU external IRQ 0";
        };
        imu_1: imu_1 {
            gpios = <&gpio1 11 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
            label = "IMU external IRQ 1";
        };
        imu_2: imu_2 {
            gpios = <&gpio1 12 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
            label = "IMU external IRQ 2";
        };
        imu_3: imu_3 {
            gpios = <&gpio1 13 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
            label = "IMU external IRQ 3";
        };
    };
};

